html {
    scroll-behavior: smooth;
}

.body {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to left, rgb(206, 118, 214), purple)
}

.pp {
    flex-basis: 20%;
}

.pp img {
    width: 90px;
    height: 50px;
}

.nav-links {
    vertical-align: top;
    text-align: center;
    flex: 1;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
}